@model HiAspp.Models.Friend
<h1>Info Route</h1>
@ViewBag.Furit


@foreach(var fruit in ViewBag.Fruit)
{
    <p>@fruit</p>
}

<hr>

<h1>Coming From MySql DB</h1>
@foreach(var user in ViewBag.Users)
{
    <p>@user["first_name"] @user["last_name"]</p>
}

<hr>
<h1>Hello Models</h1>
<form asp-action="Create" asp-controller="Home" method="post">
<label asp-for="first_name"></label><br>
<input asp-for="first_name" type="text" name="first_name"><br>
<label for="">Last Name</label><br>
<input type="text" name="last_name"><br>

<input type="submit" value="Add Friend">

</form>